<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Bach n Eggs</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.1/css/bulma.min.css">
    <link href="https://fonts.googleapis.com/css?family=Bellefair" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick-theme.css"/>
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js" charset="utf-8"></script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBQVjMeQP4BPNFoaC5bX59I8s-33b1TM6g">
    </script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.min.js"></script>
    <script src="/js/app.js" charset="utf-8"></script>
  </head>
    <body>
        <div class="header">
          <h1 class = "title">Bach 'n' Eggs</h1>
          <%- include ./partials/_navbar %>
        </div>
        <div class="container">

          <% for (const type in messages) { %>
            <div class="notification is-<%= type %>"><%= messages[type] %></div>
          <% } %>

          <%- body %>

        </div>
    </body>
</html>
