* {
  box-sizing: border-box;
  font-family: 'Bellefair', serif;
}

.hero {
  background-image: url(https://www.planet-wissen.de/kultur/musik/johann_sebastian_bach/introbachportraitgjpg100~_v-gseapremiumxl.jpg);
  background-size: cover;
}
