.container.show {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  .admin-buttons {
    display: flex;
    justify-content: center;
    flex-basis: 100%;
  }
  .concert {
    flex-basis: 100%;
    text-align: center;
    img {
      max-height: 700px;
      width: auto;
    }
  }
  .comments {
    // display: flex;
    padding: 5px;
    width: 100%;
    li {
      font-size: 18px;
      .box {
        display: flex;
      }
    }
    .media-left {
      width: auto;
      flex-basis: auto;
    }
    .media-content {

    }
  }
}
