.filter {
  display: flex;
  .styled-select {
     background: url(http://i62.tinypic.com/15xvbd5.png) no-repeat 96% 0;
     height: 29px;
     overflow: hidden;
     width: 240px;
     // background-color: #ddd;
     border: 1px solid #d0d0d0;
     border-radius: 2px;
     select {
       background: transparent;
       border: none;
       font-size: 14px;
       height: 29px;
       padding: 5px; /* If you add too much padding here, the options won't show in IE */
       width: 268px;
     }
  }
  button {
    background-color: #fbf9f2;
    border-radius: 2px;
  }
}

a {
    color: black;
  .concert-area {
    margin: 20px auto;
    margin-bottom: 5px;
    border: 1px solid #d0d0d0;
    border-radius: 2px;
    height: 300px;
    overflow: hidden;
    div {
      img {
        box-shadow: 0 2px 4px 0;
      }
      h2 {
        text-align: center;
      }
    }
  }
}
